

body {
    margin:0 auto;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
}

.gif-container {
  background: url(../images/smoker.gif)center;
  background-size: cover;
  box-sizing: border-box;
  overflow: hidden;
}

.gif-container img {
  display: block;
      margin-left: auto;
      margin-right: auto
}
