body {
  background: url("../images/smoker.gif") center center no-repeat #000;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


.bbq-image{
  max-width: 400px;
  margin: 2em auto;
  display:block;
}
