body {
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    width:calc(100% - 10em);
    height:calc(100% - 10em);
}

@font-face {
    font-family: EverAfter;
    src: url(EVERAFTE.TTF);
}

.gif-container {
  background: url(../images/smoker.gif)center no-repeat;
  background-size: cover;
  box-sizing: border-box;
  position: 0 4em;
}
